.background {
    height: 80px;
    font-size: 200%;
    padding: 0 40px 0 40px;
    position: relative;
}

.size {
    flex-grow: 1;
}

.small-screen {
    position: relative;
    z-index: 1;
    display: none;
}

@media (max-width: 900px){
    .full-size {
        display: none;
    }
    .small-screen {
        display: flex;
    }
}

.slider {
    position: fixed;
    width: 250px;
    max-width: 70%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 200;
    background-color: white;
    padding: 32px 16px;
    box-sizing: border-box;
    transition: transform 0.3s ease-out;
    flex-flow: column;
    opacity: .8;
    border-right: 1px solid black;
}

.open {
    transform: translateX(0);
}

.close {
    transform: translateX(-100%);
}
