.main-nav-link {
    text-decoration: none;
    color: white;
    padding: 5px;
    margin: 15px 20px 0 20px;
    transition: .5s;
}

.slider-nav {
    text-decoration: none;
    color: black;
    padding: 5px;
    margin: 20px 20px 0 0;
    transition: .5s;
}

.secondary-nav-link {
    text-decoration: none;
    color: white;
    padding: 5px;
    margin: 15px 20px 0 20px;
}

.main-nav-link:hover{
    margin-top: 8px;
    transition: .5s;
}

.active {
    color: #8751DB;
}

.backdrop {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 100;
    left: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.5);
}


